.btn {
    display: block;
    border: none;
    outline: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.2;
    cursor: pointer;
    &--menu {
        background: $darkBlue;
        color: $wh;
        width: 13.2rem;
        height: 10.8rem;
        position: absolute;
        top: 0;
        left: -13.2rem;
        z-index: 10;
        span {
            display: block;
            background: $wh;
            width: 5rem;
            height: 0.1rem;
            position: absolute;
            left: 4rem;
            pointer-events: none;
            transition: $tr;
            &:nth-child(1) {
                width: 4rem;
                top: 40%;
            }
            &:nth-child(2) {
                top: 50%;
            }
            &:nth-child(3) {
                top: 60%;
                width: 3rem;
            }
        }
        &:hover {
            span {
                &:nth-child(1) {
                    width: 6rem;
                }
                &:nth-child(2) {
                   width: 2rem;
                }
                &:nth-child(3) {
                    width: 4rem; 
                } 
            }
        }
        &.active {
            span {
                &:nth-child(1) {
                    width: 5rem;
                    top: 50%;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                   width: 0;
                }
                &:nth-child(3) {
                    width: 5rem;
                    top: 50%;
                    transform: rotate(-45deg);
                } 
            }
        }
    }
    &--login {
        padding: 1rem 3rem;
        background: $darkBlue;
        color: $wh;
    }
}