.products {
    padding: 0 0 6rem;
    @include point(768) {
        padding: 0 0 4rem;
    }
    @include point(500) {
        padding: 0 0 2rem;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
        @include h2Title;
        }
        margin-bottom: 3rem;
        @include point(500) {
            margin-bottom: 1.5rem;
        }
        a {
            @include href;
        }
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        row-gap: 1rem;
        @include point(866) {
            justify-content: center;
            gap: 3rem;
        }
        @include point(500) {
            gap: 2rem;
        }
    }
    &__item {
        padding: 1.5rem;
        background: $lightGray;
        width: 28rem;
        height: 36rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: $tr;
        cursor: pointer;
        &:hover {
            background: transparent;
            box-shadow: 0 10px 20px rgba($darkBlue, .5);
            .products__block_btn {
                display: flex;
            }
        }
    }
    &__block {
        &:nth-child(1) {
            text-align: center;
        }
        &_title {
            margin-bottom: 0.5rem;
            h4 {
                font-size: 1.3rem;
                color: rgba($darkBlue, .5);
                margin-bottom: 0.5rem;
            }
            h3 {
                font-size: 1.6rem;
                font-weight: 700;
            }
        }
        &_price {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &_value {
            p {
                color: $blue;
                font-weight: 700;
                font-size: 1.3rem;
            }
        }
        &_rate {
            display: flex;
            column-gap: .5rem;
        }
        &_btn {
            display: none;
            justify-content: space-between;
            align-items: center;
            @include point(500) {
                justify-content: center;
                column-gap: 1rem;
            }
            button {
                font-size: 1.2rem;
            }
        }
    }
}