// COLOR
$darkBlue: #232F3E;
$wh: #ffffff;
$lightGray: #F2F2F2;
$dark: #232F3E;
$accent: #FF9900;
$blue: #146EB4;
// TRANSITION
$tr: .2s linear;
// RESET INPUT
@mixin resetInput {
    background: transparent;
    border: none;
    outline: none;
    color: $dark;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}
// MEDIA
@mixin point($w) {
    @media only screen and (max-width: $w + 'px') {
        @content;
    }
}
// H2
@mixin h2Title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    @include point(500) {
        font-size: 1.8rem;           
    }
}
// HREF
@mixin href {
    color: $blue;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}